.cabecera {
    background-image: url('./img/header.jpg');
    background-size: cover;
    text-align: center;
    height: 700px;
    width: 100%;
    
}
body {
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}